<div class="file-selector-flex">
  <div class="inputs-flex">
    <input type="file" webkitdirectory directory (change)="onFolderSelect($event)" />
    <img *ngIf="images.length > 0" [src]="images[currentImageIndex]?.url" alt="Image from folder" />
    <div *ngIf="images.length > 0" class="buttons-flex">
      <p-button (onClick)="imageStep(1)" label="Next"></p-button>
      <input class="image-number" [(ngModel)]="currentImageIndex" type="text">
      <p-button (onClick)="imageStep(-1)" label="Prev"></p-button>
    </div>
    <textarea [(ngModel)]="label"></textarea>
  </div>
  <div>
    <div *ngIf="images.length > 0">
      <div *ngFor="let group of data">
        <div *ngIf="group.tags">
          <app-image-checkbox #checkbox *ngFor="let tag of group.tags; let i = index" [id]="i" [image]="findImage(tag.example)"
            [checked]="false" [groupLabel]="group.defaultTag" [label]="tag.name" (checkboxChanged)="onCheckboxChange($event)" tabindex="0">
          </app-image-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
