img {
  max-width: 35vw;
  margin: 10px;
  border-radius: 0.5rem;
}

.image-number {
  width: 4vw;
}

div[tabindex="0"]:focus {
  outline: 2px solid #007bff;
}

.file-selector-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.buttons-flex {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.inputs-flex {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  position: fixed; 
  top: 0; 
  left: 50vw; 
  z-index: 1000; 
  padding: 10px; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

textarea {
  width: -webkit-fill-available;
  margin: 0.5rem;
  height: 10vh;
}
