<div id="top"></div>

<div class="file-selector-flex">
  <div class="inputs-flex">
    <!-- Folder picker -->
    <input
      type="file"
      webkitdirectory
      directory
      accept="image/*"
      (change)="onFolderSelect($event)"
      aria-label="Select a folder of images"
    />

    <!-- Current image preview -->
    <img
      *ngIf="images.length > 0"
      [src]="images[currentImageIndex]?.url"
      [alt]="images[currentImageIndex]?.name || 'Image from folder'"
    />

    <!-- Navigation -->
    <div *ngIf="images.length > 0" class="buttons-flex">
      <p-button (onClick)="imageStep(-1)" label="Prev" ariaLabel="Previous image"></p-button>

      <input
        class="image-number"
        type="number"
        min="0"
        [max]="images.length - 1"
        [(ngModel)]="currentImageIndex"
        (ngModelChange)="onIndexInputChange($event)"
        aria-label="Current image index"
      />

      <p-button (onClick)="imageStep(1)" label="Next" ariaLabel="Next image"></p-button>

      <span class="image-counter" aria-live="polite">
        {{ currentImageIndex + 1 }} / {{ images.length }}
      </span>
    </div>

    <!-- Labels textarea -->
    <label class="sr-only" for="labelsArea">Labels</label>
    <textarea
      id="labelsArea"
      [(ngModel)]="label"
      placeholder="Labels will appear here…"
      aria-label="Collected labels"
    ></textarea>
  </div>

  <!-- Tag groups / checkboxes -->
  <div>
    <div *ngIf="images.length > 0">
      <div
        class="group"
        *ngFor="let group of data; let groupIndex = index; trackBy: trackByGroup"
        [id]="'group-' + groupIndex"
      >
        <br />

        <ng-container *ngIf="group.tags?.length">
          <app-image-checkbox
            *ngFor="let tag of group.tags; let tagIndex = index; trackBy: trackByTag"
            [id]="'checkbox-' + groupIndex + '-' + tagIndex"
            [image]="findImage(tag.example)"
            [checked]="false"
            [groupLabel]="group.defaultTag"
            [label]="tag.name"
            (checkboxChanged)="onCheckboxChange($event)"
            (arrowRight)="imageStep($event)"
            (arrowLeft)="imageStep($event)"
            (hide)="hide()"
            tabindex="0"
          >
          </app-image-checkbox>
        </ng-container>
      </div>
    </div>
  </div>
</div>
